@import "tailwindcss";


html.light {
  background-color: #CCA848;
  color: #fff;
}


.dark .nav-links a {
  color: #fff;
}

/* body:before, body:after {
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	background: repeating-conic-gradient(#0003 0.000001%, #fff0 .00005%, #fff0 .00035%, #fff0 .00005%), repeating-conic-gradient(#fff2 0.00002%, #fff0 .00008%, #fff0 .0008%, #fff0 .00008%);
	opacity: 0.75;
  z-index: -1;
	filter: blur(0px);
} */

[data-theme="light"] {
  --color-primary: #ec4899;
  --color-secondary: #6366f1;
  --color-text: #f9fafb;       
  --color-text-offset: #4b5563;
  --color-background: #CCA848;
  --color-background-section: #BF9D3F;
  --color-background-offset: #e5e7eb;
  --color-border: rgba(17, 24, 39, 0.1);
  --color-button: #070d0b;

}
[data-theme="dark"] {
  --color-primary: #f472b6;   
  --color-secondary: #818cf8;  
  --color-text: #f9fafb;
  --color-text-offset: #9ca3af; 
  --color-background: #070C0F;
  --color-background-section: #1A1B21;
  --color-background-offset: #1f2937; 
  --color-border: rgba(249, 250, 251, 0.1);
  --color-button: #CCA848;
 
}
.button{
  background-color: var(--color-button);
  color: var(--color-text);

}


/* Aplica el background globalmente */
:root {
  background-color: var(--color-background);
  color: var(--color-text);
}



